.a90{
    border:1px solid white;
    height:1rem;
    width:95rem;
    background-color: aliceblue;
    color:blueviolet;
    margin-left:-12rem;

}
@media(min-width:578px) and (max-width:900px){
    .a90{
      width:46rem;
      height:1rem;
      font-size:0.5rem;
      margin-top: 0.2rem;
   } 
}
  