/* 
body{
  width:130%;

} */
.m25{
  width:110%;
  height:30rem;
  padding-left: 4px;
}
.l25{
  width:100%;
}
.complete{
  width: 100vw;
   /* position:fixed;  */
  left:0;
  right:-1;
  overflow-x: hidden;
}