html{
    font-size:33px;
}

.root{
    margin-left: 0%;
    margin-right: 0%;
    /* width:108rem; */
    /* width:109%; */
    /* width:36rem; */
}
.col-sm-3 md-3{
    text-decoration: capitalise;
}
/* @media(min-width:350px)and(max-w) */
